.sign-in-page_container{
    width:30%;
    margin:0 auto;
}

.sign-in-page_title{
    color: #37474f;
    padding: 20px;
    margin: 20vh 0 10vh;
    text-align: center;
}

.btn{
    display: block;
    margin: 0 auto;
    padding: 0 100px;
    font-weight: 700;
}